

@media screen and (max-width: 650px) {/*резиновые блоки*/
  main {
    width: 100%;
  }
  p, h1, h2{
    padding-left: 10px;
    padding-right: 10px;
  }

  p {
    font-size: 80%;
  }

  h2 {
    background-color: #e4eaff;
    width: 100%;
    padding-top: 0px;
    margin-top: 10px;
  }

  menu a {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 18px;
  }
  menu ul li:first-child a{ /*Первый путкт меню (ОЛИМП)*/
    font-size: 20px;
  }

  menu ul li:nth-child(7) a {
    margin-right: 4px;
    padding-right: 6px;
  }



  .separate-left, .separate-right{
    background-image: none;
    width: 0px;
    height: 0px;
  }
  .left, .right {
    width: 100%;
    float: none;
  }
  .right-text, .left-text {
    margin: 0px;
  }

  #concept .c1 .left, #concept .c2 .right {
    margin-top: -20px;
    margin-bottom: 60px;
  }

  .c1, .c2, .c3 {
    width: 100%;
    padding: 0px;
  }

  figcaption{
    font-size: 100%;
  }

  .princip {
    width: calc(50% - 10px);
  }


.see-full-image::after {
    content: "Открыть изображение";
}

.see-full-image {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: ALSS, tahoma, sans-serif;
    color:#3913A7;
}
/*Статистика////////////////////////////////////*/
.achievements li {
  width: 48%;
  padding-bottom: 48%;
  margin: 10px 1%;
}

.achievements .table p {
  font-size: 100%;
  padding: 0px;
}
.achievements .table p b {
  font-size: 200%;
}

.person {
  width: 100%;
  float: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.photo {
  width: 96%;
  padding: 3%;
  float: none;
  max-width: 300px;
}

.person ul {
  width: 220px;
  text-align: left;
  padding-left: 20px;
}

.person h3{
  width: 100%;
  text-align: center;
  margin-left: -30px;
}

.vk a{
  padding: 10px;
  font-size: 90%;
}

.vk-icon{
  width: 20px;
  margin-right: 8px;
}
#map {
    height: 200px;
}

.c2 .right-text {
  margin-left: 20px;
}

/*////////////////////////////////////*/

.nav-mobile {
  display:block;
}
.nav {
  width:100%;
  box-shadow: 0 0px 0px;
  position: fixed;
  z-index: 11;
  padding: 0; /* Поля вокруг текста */
  padding-bottom: 0;
}
.nav-list {
  display:none;

}
.nav-item {
  width:100%;
  float:none;

}
.nav-item a {
  display: block;
  padding:10px;
  font-style: 120%;
}
.nav-active {
  display:block;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}


main {
    margin-top: 0px;
}

#structure h2, #opportunity h2{
  margin-bottom: 0px;
}

}
