

@media screen and (max-width: 650px) {/*резиновые блоки*/
  main {
    width: 100%;
  }
  p, h1, h2{
    padding-left: 10px;
    padding-right: 10px;
  }

  p {
    font-size: 80%;
  }

  h2 {
    background-color: #e4eaff;
    width: 100%;
    margin-top: 40px;
  }

  menu a {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 10px;
  }

  menu ul li:nth-child(7) a {
    margin-right: 4px;

  }



  .separate-left, .separate-right{
    background-image: none;
    width: 0px;
    height: 0px;
  }
  .left, .right {
    width: 100%;
    float: none;
  }
  .right-text, .left-text {
    margin: 0px;
  }

  #concept .c1 .left, #concept .c2 .right {
    margin-top: -20px;
    margin-bottom: 60px;
  }

  .c1 .c2 .c3 {
    width: 100%;
  }
  figcaption{
    font-size: 100%;
  }

  .princip {
    width: calc(50% - 10px);
  }


.see-full-image::after {
    content: "Открыть изображение";
}

.see-full-image {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: ALSS, tahoma, sans-serif;
    color:#3913A7;
}
/*Статистика////////////////////////////////////*/
.achievements li {
  width: calc(45% - 15px);
  padding-bottom: calc(45% - 15px);
  margin: 8px;
  margin-top: 10px;

}

.achievements .table p {
  font-size: 100%;
  padding: 0px;
}
.achievements .table p b {
  font-size: 200%;
}

#circle1, #circle3 {
  margin-left: 10px;
}

.person {
  width: 100%;
  float: none;
  padding-top: 10px;
  padding-bottom: 10px;

}
.photo {
  width: 96%;
  padding: 3%;
  float: none;
}
.person h3{
  width: 100%;
  text-align: center;
}

.person a{
  margin-left: 20px;
  width: 100%;
}
.vk a{
  padding: 10px;
  font-size: 90%;
}

.vk-icon{
  width: 20px;
  margin-right: 8px;
}
#map {
    height: 200px;
}

/*Удаляем элементы в мобильной версии*/
menu ul li:nth-child(3) a, menu ul li:nth-child(4) a,menu ul li:nth-child(6) a,menu ul li:nth-child(1) a{
  display: inline-block;
  overflow: hidden;
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
}

.c2 .right-text {
  margin-left: 20px;
}
}
