
@viewport {
  width: device-width;
}

 @font-face {
     font-family: ALSS;
     src: url(../font/ALSSchlangesans-Bold.otf) format("opentype");
     font-weight: bold;
   }


body {
    margin: 0; /* Убираем отступы */
    font-family: calibri, sans-serif; /*основной шрифт*/
   }

 h1 {
   text-align: center;
   font-family: ALSS, tahoma, sans-serif;
   color:#3913A7;
 }

 h2 {
   text-align: center;
   font-family: ALSS, tahoma, sans-serif;
   color:#3913A7;
   font-size: 160%;
   width: 200px;
   margin: auto;
   margin-top: 60px;
 }

 p {
  text-align: justify;
  font-size: 120%;
  color: #000000;
 }

menu {
  z-index: 2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  padding: 0px;
  top:0px;
  position: fixed;
   width: 100%;
   background: #ffffff; /* Цвет фона блока */
   margin: 0; /* Нулевые отступы вокруг текста */
   padding: 5px; /* Поля вокруг текста */
   padding-bottom: 7px;
   text-align: center;
   font-size: 120%;
 }

 ul {
  margin: auto;
  padding: 0px;
  list-style-type: none;

 }

menu li {
  margin: auto;
  display: inline;
  color: red;
}

a{ /*ссылки в меню*/
  vertical-align: middle;
  transition: 0.5s; /* Время изменения */
  text-decoration: none;
  color: #3D79AD;
}

menu a {
  padding-left: 55px;
}

a:hover {
  color:#3913A7;
}

menu ul li:first-child a{ /*Первый путкт меню (ОЛИМП)*/
  font-family: ALSS, tahoma, sans-serif;
  color:#3913A7;
  font-size: 150%;
  padding-left: 0px;
}

main {
  position: relative;
    width: 1000px;
    margin: auto;
    z-index: 1;
    margin-top: 40px;
}

img {
  margin: 0px;
   width: 100%;
   height: auto;
   width: auto\9; /* ie8 */
}

#concept li {
  list-style-image: url(../img/circle.png);
  /*list-style: disc;
  color: #3913A7;*/
}

.left {
  float:left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.left-text {
  margin-right: 5%;
}

.left-text li {
  margin-left: 20px;
}

.right-text {
  margin-left: 5%;
}

h3 {
  text-align: center;
  font-family: ALSS, tahoma, sans-serif;
  color:#3913A7;
}

section {
  overflow: hidden;
}

.princip {
  float: left;
  width: 24%;
  margin: 0.5%;
  height: auto;
}

figcaption{
  text-align: center;
  font-family: ALSS, tahoma, sans-serif;
  color:#3913A7;
  font-size: 120%;
}





.Max-and-Kirill{
  width: 100%;
}

.contact-map{
  border: 1px solid #aaa;
  padding: 5px;
}

.material-icons, .icon-text, .vk-icon, .vk-icon-text, .icon {
      vertical-align: middle;
    }

.icon{
  height: 30px;
  width: auto;
  margin-right: 10px;
  margin-left: 20px;
  }

  .icon-text {
    margin-bottom: 10px;
  }

  .person a{
    display: inline-block;
  }

  .person h3{
    display: inline-block;
    text-align: left;
    padding-left: 20px;
  }

/*Кнопка вконтакте///////////////////////////*/

.vk {
  display: table;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.vk table-cell{
  font-family: ALSS, tahoma, sans-serif;

  color:#3913A7;
  font-size: 180%;
  display: table-cell;
  text-align: center;
}

.vk a{
  text-align: center;
  display: inline;
  background: #5b7aa8;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 120%;
}

.vk-icon{
  width: 30px;
  margin-right: 10px;
}


.separate-left, .separate-right{
  margin-top: 65px;
  height: 20px;
  width: 375px;
  float: left;
  background-image: url(../img/separate10.png);
}


.separate-right {
  float: right;
  margin-left: 20px;
  margin-right: 0px;
}

.photo {
  width: 250px;
  height: auto;
  float: left;
}

.person {
  width: 50%;
  float: left;
  padding-top: 60px;
  padding-bottom: 60px;

}

#structure > img{
  margin-top: 20px;
}
/*Статистика////////////////////////////////////*/
.achievements li {
  overflow: hidden;
  position: relative;
  width: 24%;
  padding-bottom: 24%; // пропорции блока определяются здесь
  display: block;
  float: left;
  margin: 0.5%;
  margin-top: 50px;
}

.circle{
  position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 50%;
}

.achievements .table {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: -10px;
}

.achievements .table p {
  font-family: ALSS, tahoma, sans-serif;
  color:#3913A7;
  font-size: 180%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}
.achievements .table p b {
  font-size: 250%;
}

.achievements li:nth-child(1) .circle {
    border: 3px solid #3913A7;
}

.achievements li:nth-child(2) .circle {
    border: 3px solid #02CC02;
}

.achievements li:nth-child(3) .circle {
    border: 3px solid #FFD300;
}

.achievements li:nth-child(4) .circle {
    border: 3px solid #EB1313;
}

/*Выравнивание текста концепта по центру//////////////*/
#concept .c1 .left {
  margin-top: 100px;
}

#concept .c2 .right {
  margin-top: 50px;
}
