
 @font-face {
     font-family: ALSS;
     src: url(../font/ALSSchlangesans-Bold.otf) format("opentype");
     font-weight: bold;
   }


body {
    margin: 0; /* Убираем отступы */
    font-family: calibri, sans-serif; /*основной шрифт*/
   }

 h1 {
   text-align: center;
   font-family: ALSS, tahoma, sans-serif;
   color:#3913A7;
 }

 h2 {
   text-align: center;
   padding-top: 30px;
   font-family: ALSS, tahoma, sans-serif;
   color:#3913A7;
   font-size: 160%;
 }

 p {
  text-align: justify;
  font-size: 120%;
  color: #000000;
 }

menu {

  z-index: 2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  padding: 0px;
  top:0px;
  position: fixed;
   width: 100%;
   background: #ffffff; /* Цвет фона блока */
   margin: 0; /* Нулевые отступы вокруг текста */
   padding: 5px; /* Поля вокруг текста */
   padding-bottom: 7px;
   text-align: center;
   font-size: 120%;

 }

 ul {
  margin: auto;
  padding: 0px;
  list-style-type: none;

 }

menu li {
  margin: auto;
  display: inline;
  color: red;
}

a{ /*ссылки в меню*/
  vertical-align: middle;
  transition: 0.5s; /* Время изменения */
  text-decoration: none;
  color: #1c74bf;
  padding-left: 55px;

}

a:hover {
  color:#3913A7;
}

menu ul li:first-child a{ /*Первый путкт меню (ОЛИМП)*/
  font-family: ALSS, tahoma, sans-serif;
  color:#3913A7;
  font-size: 150%;
  padding-left: 0px;
}

main {
  position: relative;
    width: 1000px;
    margin: auto;
    z-index: 1;
    margin-top: 40px;
}

img {
  margin: 0px;
   width: 100%;
   height: auto;
   width: auto\9; /* ie8 */
}

#concept li {
  list-style-image: url(../img/circle.png);
  /*list-style: disc;
  color: #3913A7;*/
}

.left {
  float:left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.left-text {
  margin-right: 5%;
}

.left-text li {
  margin-left: 20px;
}

.right-text {
  margin-left: 5%;
}

h3 {
  text-align: center;
  font-family: ALSS, tahoma, sans-serif;
  color:#3913A7;
}

section {
  overflow: hidden;
}

.princip {
  float: left;
  width: 24%;
  margin: 0.5%;
  height: auto;
}

figcaption{
  text-align: center;
  font-family: ALSS, tahoma, sans-serif;
  color:#3913A7;
  font-size: 120%;
}


.achievements div {
  width: 24%;
  margin: 0.5%;
  float: left;
}


.Max-and-Kirill{
  width: 37%;
  float: left;
}

.contact-left{
  width: 612px;
  float: left;
}

.contact-map{
  border: 1px solid #aaa;
  padding: 5px;
}

.material-icons, .icon-text, .vk-icon, .vk-icon-text {
      vertical-align: middle;
    }
.vk-icon{
  width: 30px;
  margin-right: 10px;
}

.vk {
  text-align: center;
  background: #5b7aa8;
  padding: 0px 15px;
  display: inline-block;
  margin-left: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  color: white;
}

.vk-icon-text{
}
